.ex-1-square:hover{
  background-color: red;
}

.ex-2-square:active{
  width: 100%;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square:hover{
  background-color: #f5f5f5;
}

.ex-5-square:hover{
  margin: -10px;
  width: 120px;
  height: 120px;
}